@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

body {
    font-family: 'Open Sans', sans-serif;
    background: #2c3e50
    /* background:#121212; */
}

nav {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 590px;
    background: #34495e;
    /* background: #1e1e1f; */
    font-size: 0;
    border-radius: 8px
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    background: 0 0;
    border-radius: 25px
}

nav a {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    display: block;
    text-align: center;
    transition: background-color .3s
}

nav a:hover {
    background-color: #20b2aa;
    /* background-color: #121212; */
    border-radius: 8px
}

nav a:hover~.animation {
    background-color: #20b2aa;
    /* background-color: #121212; */
    width: 100%
}

nav a:nth-child(1) {
    width: 100px
}

nav a:nth-child(2) {
    width: 110px
}

nav a:nth-child(3) {
    width: 100px
}

nav a:nth-child(4) {
    width: 160px
}

nav a:nth-child(5) {
    width: 120px
}

.search-container{
    position: fixed;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    /* background: #1e1e1f; */
    background: #34495e;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.search-container input[type="text"]{
    width: 350px;
    border:whitesmokes;
    background:#fff;
    padding: 5px;
    border-radius: 8px;
    font-size: 14px;

}

.search-container button[type="submit"]{
    border: none;
    background:white;
    border-radius: 800px;
    padding: 5px;
    margin-left: 50px;
    cursor: pointer;

}

.search-container button[type="submit"] i {
    font-size: 16px;
}
